name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  lint:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    
    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '18'
    
    - name: Install dependencies
      run: npm ci
    
    - name: Run lint
      run: npm run lint

  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    
    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '18'
    
    - name: Install dependencies
      run: npm ci
    
    - name: Build project
      run: npm run build